<h1>Edit a post</h1>

<%= form_for :post, method: :patch do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>

		<% end %>