<h1>Write a new post</h1>

<%= form_for([@user, @user.posts.build]) do |f| %> <!-- you should be able to user form_for [@user, @post] here -->

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	<p>

	<p>
		<%= f.submit %>
	</p>

		<% end %>
